@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --main-font: 'Space Mono', monospace;
    --font-size: 15px;
    --blue: #0079FF;
    --main-font-color: #697C9A;
    --dark-blue: #4B6A9B;
    --h1-color: #2B3442;
    --main-bg: #F6F8FF;
    --very-light-gray: rgba(105, 124, 154, 0.02); 
    --secondary-bg: #FEFEFE;
    --button-col: #FEFEFE;
    --input-col: #697C9A;
  }

  .dark_mode{
    --main-bg: rgb(20, 29, 47);
    --secondary-bg: #1E2A47;
    --main-font-color: #FEFEFE;
    --h1-color: #FEFEFE;
    --input-col: #FEFEFE;
}

  body {
    font-family: var(--main-font);
    background: var(--main-bg);
    font-size: 13px;
    font-weight: 400;
    color: var(--main-font-color);
    margin: 0 auto;
  }

  .grid-container {
    margin: 0 auto 0 auto;
    min-width: 365px;
  }

  .wrapper {
    padding: 20px;
  }

  form, section {
      /* box-shadow: 0 10px var(--very-light-gray); */
      /* box-shadow: var(--very-light-gray) 0px 5px 15px; */
      box-shadow: rgba(105, 124, 154, 0.2) 0px 3px 8px;
      /* box-shadow: rgba(43, 52, 66, 0.019) 0px 5px 0px; */
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  nav {
    justify-content: space-between;
    align-items: center;
  }

  #theme_toggler {
      cursor: pointer;
      border: none;
      background: transparent;
  }

  .light-toggle {
    text-transform: uppercase;
    color: var(--main-font-color);
  }

  .light-toggle-icon {
      margin-left: 20px;
      width: 20px;
      height: 20px;
  }

  .grid-container > div:first-child {
      padding-bottom: 20px;
  }

  .grid-container > div:nth-child(2) {
    padding-bottom: 0;
}

  form, section {
    background: var(--secondary-bg);
    padding: 5px;
  }
  form, section, .repo-info {
    border-radius: 15px;
  }

  h1, h2 {
    font-weight: 700;
    font-family: var(--main-font);
    color: var(--h1-color);
  }

  h1 {
    font-size: 26px;
    line-height: 38px;
  }

  h2 {
    font-size: 22px;
    line-height: 33px;
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--h1-color)
  }

  h4, p {
    line-height: 25px;
  }

  .repo-info {
    background: var(--main-bg);
  }

  .footer ul {
    list-style-type: none;
  }

/* FORM */
form {
    justify-content: space-between;
    align-items: center;
}

.search-icon {
    height: 20px;
    width: 20px;
    margin-left: 20px;
}

input {
    margin-left: 15px;
    border: none;
    width: 200px;
    background: transparent;
    color: var(--input-col);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

input::placeholder {
    font-size: 12px;
    font-family: var(--main-font);
    line-height: 25px;
    color: var(--input-col);
    letter-spacing: 0;
}

form button {
    background: var(--blue);
    border: none;
    border-radius: 10px;
    color: var(--button-col);
    height: 46px;
    font-size: 14px;
    width: 84px;
    font-family: var(--main-font);
    margin: 5px 5px 5px 0;
}

/* Section Header */
section {
    padding: 20px;
}

.avatar {
  margin-right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.body-text {
  margin-top: 20px;
}

.wordbreak {
  word-break: break-all;
}

section > .flex-row {
  display: flex;
  align-items: center;
}

section > .section-flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start!important;
}

section .header .flex-column > .user-handle {
    color: var(--blue)
}

section .header .flex-column > .date {
    color: var(--main-font-color)
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Section Body */
.repo-info {
    padding: 20px;
    margin-top: 20px;
    justify-content: space-around;
}

.repo-info > div > p {
    font-size: 11px;
}

.body-text > p {
    margin-top: 30px;
}

.repo-info > div > span {
    color: var(--h1-color);
    font-size: 16px;
    font-weight: 700;
}

.flex-column > span {
    align-self: center;
}

/* Footer */
section .footer {
    margin-top: 20px;
}

.footer .flex-column > .flex-row {
    align-content: center;
}

.footer .flex-column > .flex-row li {
    margin: 0 0 20px 20px;
}

/* Tablet Design */
@media screen and (min-width: 573px) {
  body {
    background: red;
  }
  .search-wrapper {
    justify-content: flex-start;
  }

  /* Section Header */
  section {
    padding: 40px;
  }

  section > .flex-row {
    display: flex;
    align-items: center;
  }

  .avatar {
    width: 117px;
    height: 117px;
  }

  .repo-info {
    justify-content: flex-start;
  }

  .repo-info .flex-column {
    display: block;
    margin-left: 20px;
    margin-right: 60px;
    /* float: left; */
  }

 .flex-row-wrap {
   display: flex;
   flex-wrap: wrap;
 }

.flex-column-ul {
  margin-right: 40px;
}

.ul-flex-row {
  display: flex;
}
  }

/* Desktop Design */
@media screen and (min-width: 730px) {
  body {
    background: green;
    max-width: 730px;
  }
  section > .section-flex-row-desktop {
    display: flex;
    flex-direction: row;
    align-items: flex-start!important;
  }

  .desktop-flex-row {
    display: flex;
    flex-direction: column;
    margin-left: 137px;
  }

  .align-center {
    align-items: center;
  }

}