@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --main-font: 'Space Mono', monospace;
    --font-size: 15px;
    --blue: #0079FF;
    --blue-gray: #697C9A;
    --dark-blue: #4B6A9B;
    --light-black: #2B3442;
    --light-gray: #F6F8FF;
    --very-light-gray: rgba(105, 124, 154, 0.02); 
    --white: #FEFEFE;
  }

  body {
    font-family: var(--main-font);
    background: var(--light-gray);
    font-size: 13px;
    font-weight: 400;
    color: var(--blue-gray);
    margin: 0 auto;
  }

  .grid-container {
    margin: 0 auto 0 auto;
    /* text-align: center; */
    /* max-width: 375px; */
    min-width: 365px;
  }

  .wrapper {
    padding: 20px;
  }

  form, section {
      /* box-shadow: 0 10px var(--very-light-gray); */
      /* box-shadow: var(--very-light-gray) 0px 5px 15px; */
      box-shadow: rgba(105, 124, 154, 0.2) 0px 3px 8px;
      /* box-shadow: rgba(43, 52, 66, 0.019) 0px 5px 0px; */
  }

  .flex-row {
    display: flex;
  }

  nav {
    justify-content: space-between;
    align-items: center;
  }

  .light-toggle {
    text-transform: uppercase;
    color: var(--blue-gray);
  }

  .light-toggle-icon {
      margin-left: 20px;
      width: 20px;
      height: 20px;
  }

  .grid-container > div:first-child {
      padding-bottom: 20px;
  }

  .grid-container > div:nth-child(2) {
    padding-bottom: 0;
}

  form, section {
    background: var(--white);
    padding: 5px;
  }
  form, section, .repo-info {
    border-radius: 15px;
  }

  h1, h2 {
    font-weight: 700;
    font-family: var(--main-font);
    color: var(--light-black);
  }

  h1 {
    font-size: 26px;
    line-height: 38px;
  }

  h2 {
    font-size: 22px;
    line-height: 33px;
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  h4, p {
    line-height: 25px;
  }

  .repo-info {
    background: var(--light-gray);
  }

  .footer ul {
    list-style-type: none;
  }

/* FORM */
form {
    justify-content: space-between;
    align-items: center;
}

.search-icon {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

input {
    border: none;
    width: 200px;
}

input::placeholder {
    font-size: 12px;
    font-family: var(--main-font);
    line-height: 25px;
    color: var(--blue-gray);
    letter-spacing: 0;
}

form button {
    background: var(--blue);
    border: none;
    border-radius: 10px;
    color: var(--white);
    height: 46px;
    font-size: 14px;
    width: 84px;
    font-family: var(--main-font);
    margin: 5px 5px 5px 0;
}

/* Section Header */
section {
    padding: 20px;
}
section .header .flex-column > .user-handle {
    color: var(--blue)
}

section .header .flex-column > .date {
    color: var(--blue-gray)
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Section Body */
.repo-info {
    padding: 20px;
    margin-top: 20px;
    justify-content: space-around;
}

.repo-info > div > p {
    font-size: 11px;
}

.repo-info > div > span {
    color: var(--light-black);
    font-size: 16px;
    font-weight: 700;
}

.flex-column > span {
    align-self: center;
}

/* Footer */
section .footer {
    margin-top: 20px;
}

.footer .flex-column > .flex-row {
    align-content: center;
}

.footer .flex-column > .flex-row li {
    margin: 0 0 20px 20px;
}

